.accordeon-item {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
  position: relative;
  transition: all 0.3s $smooth;
  padding: 20px 0 21px;
  text-align: left;
  align-items: center;
  top: 2px;
  cursor: pointer;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #74819c;
    top: -2px;
    left: 0;
  }

  div {
    width: 238px;
  }

  &:hover .accordeon-item__open-button {
    background-color: #1c3374;
  }

  &:hover .accordeon-item__open-button::before {
    background-color: $white-primary;
  }

  &:hover .accordeon-item__open-button::after {
    background-color: $white-primary;
  }
}

.accordeon-item:last-child {
  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #74819c;
    bottom: 1px;
    left: 0;
  }
}


.accordeon-item__open-button {
  position: relative;
  content: "";
  width: 30px;
  height: 30px;
  border: solid 1px #1c3374;
  background: transparent;
  border-radius: 50%;
  transition: background 0.3s $smooth, transform 0.3s $smooth;
  cursor: pointer;
  transform: translateY(0);
  left: 2px;

  &:hover {
    background-color: #1c3374;
  }

  &:hover::before {
    background-color: $white-primary;
  }

  &:hover::after {
    background-color: $white-primary;
  }

  &:focus-visible {
    background-color: #74819c;
    border: solid 1px #1c3374;
    outline: none;
  }

  &:focus-visible::before {
    background-color: $white-primary;
  }

  &:focus-visible::after {
    background-color: $white-primary;
  }

  &::before {
    position: absolute;
    content: "";
    width: 14px;
    height: 1px;
    left: 7px;
    top: 48%;
    transform: rotate(90deg);
    background-color: #1c3374;
    transition: background 0.3s $smooth, transform 0.3s $smooth;
  }

  &::after {
    position: absolute;
    content: "";
    width: 14px;
    height: 1px;
    left: 7px;
    top: 48%;
    transform: rotate(180deg);
    background-color: #1c3374;
    transition: background 0.3s $smooth, transform 0.3s $smooth;
  }
}

.accordeon-item__open-button--disabled {
  opacity: 0.3;
  cursor: auto;
  pointer-events: none;
}

.accordeon-item__open-button--active {
  background: #1c3374;
  transform: translateY(calc(-100%));

  &::before {
    transform: rotate(-180deg);
    background-color: $white-primary;
  }

  &::after {
    transform: rotate(0deg);
    background-color: $white-primary;
  }
}

.accordeon-item__open-button--first {
  transform: translateY(-71px);
}

.accordeon-item__content {
  display: none;
  transition: all 0.3s $smooth;
}

.accordeon-item__content--is-visible {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  top: -1px;
}

.accordeon-item__content h3 {
  display: flex;
  align-items: center;
  min-height: 40px;

  @include apply-styles($mobile-h5);

  margin: 0;
  padding: 0 30px 0 0;
}

.accordeon-item__content p {
  @include apply-styles($mobile-large-text);

  max-height: 0;
  overflow: hidden;
  margin: 0;
  transform: scaleY(0);
  transition: all 0.3s $smooth;
  transform-origin: top;
}

.accordeon-item__content--active p {
  transform: scaleY(1);
  transition: all 0.3s $smooth;
  max-height: 500px;
  margin: 20px 0 0;
}

.accordeon-item:last-child .accordeon-item__content h3 {
  padding: 0;
}

@media #{$not-mobile} {
  .accordeon-item {
    padding: 23px 0;
    gap: 10px;
    justify-content: space-between;

    div {
      width: 560px;
    }
  }

  .accordeon-item__open-button {
    width: 40px;
    height: 40px;
    left: 0;

    &::before {
      width: 20px;
      left: 9px;
      height: 1px;
    }

    &::after {
      width: 20px;
      left: 9px;
      height: 1px;
    }
  }

  .accordeon-item__open-button--first {
    transform: translateY(-42px);
  }

  .accordeon-item__content h3 {
    @include apply-styles($tablet-h5);

    padding: 0 60px 0 0;
  }

  .accordeon-item__content p {
    @include apply-styles($universal-large-text);

    margin: 0;
  }

  .accordeon-item__content--active p {
    margin: 10px 0 0;
  }

  .accordeon-item::before {
    top: 0;
  }

  .accordeon-item:last-child::after {
    bottom: -3px;
  }

  .accordeon-item__content--is-visible {
    top: 2px;
  }

  .accordeon-item:first-child::before {
    top: -2px;
  }

  .accordeon-item:nth-child(2)::before {
    top: -1px;
  }

  .accordeon-item:first-child h3 {
    position: relative;
    top: -2px;
  }

  .accordeon-item:last-child h3 {
    position: relative;
    top: 1px;
  }

  .accordeon-item:first-child p {
    position: relative;
    top: -2px;
  }
}

@media #{$desktop-only} {
  .accordeon-item {
    padding: 22px 0;

    div {
      width: 660px;
    }
  }

  .accordeon-item__open-button {
    top: 2px;
  }

  .accordeon-item__open-button--first {
    transform: translateY(-49px);
    top: 1px;
  }

  .accordeon-item__content h3 {
    @include apply-styles($desktop-h5);

    padding: 0 60px 0 0;
  }

  .accordeon-item__content--active p {
    margin: 23px 0 0;
  }

  .accordeon-item:last-child::after {
    bottom: -7px;
  }

  .accordeon-item:last-child h3 {
    top: 3px;
  }
}
