.container {
  width: 100%;
  max-width: 1336px;
  margin: 0 auto;

  @media #{$mobile-only} {
    width: 290px;

    &--full-width {
      width: 320px;
    }
  }

  @media #{$tablet-only} {
    width: 678px;
  }

  @media #{$desktop-only} {
    width: 1160px;
  }
}
