.section-title {
  @include apply-styles($mobile-h3);

  font-family: "Alumni-Sans", "Arial", sans-serif;
  color: $primary;

  &--secondary {
    color: $white-primary
  }
}

@media #{$not-mobile} {
  .section-title {
    @include apply-styles($tablet-h3);

    &--bigger {
      @include apply-styles($desktop-h3);
    }
  }
}

@media #{$desktop-only} {
  .section-title {
    @include apply-styles($desktop-h3);
  }
}
