$tablet-min-width: 768px;
$tablet-max-width: 1365px;
$desktop-min-width: 1366px;
$mobile-min-width: 320px;
$mobile-max-width: 767px;
$mobile-only: "(width <= #{$mobile-max-width})";
$tablet-only: "(#{$tablet-min-width} <= width <= #{$tablet-max-width})";
$desktop-only: "(width >= #{$desktop-min-width})";
$not-mobile: "(width >= #{$tablet-min-width})";
$not-desktop: "(width <= #{$desktop-min-width})";
$smooth: cubic-bezier(0.4, 0, 0.4, 1);

// colors
$primary: #102654;
$secondary: #103aae;
$secondary-button: #1c3374;
$tabs-condition: #d10a42;
$white-secondary: #f8f9fc;
$white-primary: #ffffff;
$black: #030a1a;
$banner: #ed0233;
$error: #ff121f;

// text-params

// h

$desktop-h1: (
  font-size: 92px,
  line-height: 110px,
  font-weight: 800,
  letter-spacing: 0.04em,
  text-transform: uppercase
);
$tablet-h1: (
  font-size: 72px,
  line-height: 85px,
  font-weight: 800,
  letter-spacing: 0.02em,
  text-transform: uppercase
);
$mobile-h1: (
  font-size: 62px,
  line-height: 62px,
  font-weight: 800,
  letter-spacing: 0.01em,
  text-transform: uppercase
);
$desktop-h2: (
  font-size: 82px,
  line-height: 96px,
  font-weight: 600,
  text-transform: uppercase
);
$tablet-h2: (
  font-size: 48px,
  line-height: 54px,
  font-weight: 600,
  text-transform: uppercase
);
$mobile-h2: (
  font-size: 48px,
  line-height: 54px,
  font-weight: 600,
  text-transform: uppercase
);
$desktop-h3: (
  font-size: 54px,
  line-height: 54px,
  font-weight: 600
);
$tablet-h3: (
  font-size: 42px,
  line-height: 42px,
  font-weight: 600
);
$mobile-h3: (
  font-size: 32px,
  line-height: 32px,
  font-weight: 600
);
$desktop-h4: (
  font-size: 26px,
  line-height: 26px,
  font-weight: 700
);
$tablet-h4: (
  font-size: 24px,
  line-height: 24px,
  font-weight: 700
);
$mobile-h4: (
  font-size: 22px,
  line-height: 22px,
  font-weight: 700
);
$desktop-h5: (
  font-size: 24px,
  line-height: 24px,
  font-weight: 400
);
$tablet-h5: (
  font-size: 22px,
  line-height: 22px,
  font-weight: 400
);
$mobile-h5: (
  font-size: 20px,
  line-height: 20px,
  font-weight: 400
);
$desktop-h6: (
  font-size: 22px,
  line-height: 22px,
  font-weight: 400
);
$tablet-h6: (
  font-size: 20px,
  line-height: 20px,
  font-weight: 400
);
$mobile-h6: (
  font-size: 18px,
  line-height: 20px,
  font-weight: 400
);

// text

$universal-large-text: (
  font-size: 18px,
  line-height: 24px,
  font-weight: 300
);
$universal-medium-text: (
  font-size: 16px,
  line-height: 24px,
  font-weight: 300
);
$universal-small-text: (
  font-size: 14px,
  line-height: 22px,
  font-weight: 400
);
$mobile-large-text: (
  font-size: 16px,
  line-height: 20px,
  font-weight: 300
);
$mobile-medium-text: (
  font-size: 14px,
  line-height: 22px,
  font-weight: 300
);
$mobile-small-text: (
  font-size: 14px,
  line-height: 20px,
  font-weight: 400
);

// buttons

$desktop-tabs-lined: (
  font-size: 20px,
  line-height: 20px,
  font-weight: 400
);
$desktop-tabs-button: (
  font-size: 18px,
  line-height: 18px,
  font-weight: 400
);
$desktop-button-large: (
  font-size: 14px,
  line-height: 14px,
  font-weight: 700,
  text-transform: uppercase
);
$desktop-button-medium: (
  font-size: 12px,
  line-height: 12px,
  font-weight: 700,
  text-transform: uppercase
);
$tablet-tabs-lined: (
  font-size: 18px,
  line-height: 18px,
  font-weight: 400
);
$tablet-tabs-button: (
  font-size: 18px,
  line-height: 18px,
  font-weight: 400
);
$tablet-button-large: (
  font-size: 14px,
  line-height: 14px,
  font-weight: 700,
  text-transform: uppercase
);
$tablet-button-medium: (
  font-size: 12px,
  line-height: 12px,
  font-weight: 700,
  text-transform: uppercase,
  letter-spacing: 0.05em
);
$mobile-tabs-lined: (
  font-size: 16px,
  line-height: 16px,
  font-weight: 400
);
$mobile-tabs-button: (
  font-size: 16px,
  line-height: 16px,
  font-weight: 400
);
$mobile-button-large: (
  font-size: 14px,
  line-height: 14px,
  font-weight: 700,
  text-transform: uppercase
);
$mobile-button-medium: (
  font-size: 12px,
  line-height: 12px,
  font-weight: 700,
  text-transform: uppercase
);

// numbers

$universal-numbers-xl: (
  font-size: 100px,
  line-height: 1.5,
  font-weight: 700
);
$universal-numbers-large: (
  font-size: 70px,
  line-height: 70px,
  font-weight: 700
);
$universal-numbers-medium: (
  font-size: 60px,
  line-height: 1.5,
  font-weight: 700
);
$desktop-numbers-regular: (
  font-size: 40px,
  line-height: 40px,
  font-weight: 700
);
$tablet-numbers-regular: (
  font-size: 24px,
  line-height: 24px,
  font-weight: 700
);
$mobile-numbers-xl: (
  font-size: 80px,
  line-height: 1.5,
  font-weight: 700
);
$mobile-numbers-large: (
  font-size: 64px,
  line-height: 64px,
  font-weight: 700
);
$mobile-numbers-medium: (
  font-size: 48px,
  line-height: 1.5,
  font-weight: 700
);
$mobile-numbers-regular: (
  font-size: 24px,
  line-height: 24px,
  font-weight: 700
);
