.juri {
  min-height: 432px;
}

.juri__slide {
  position: relative;
  width: 260px;

  &:focus-visible {
    outline: none;
  }
}

.juri__slide:hover .juri__swiper-slide-content-wrapper::after {
  transform: scaleY(1);
}

.juri__slide:hover .juri__swiper-slide-overlay {
  transform: scaleY(1);
}

.juri__slide:hover .juri__swiper-slide-header {
  transform: translateY(0);
}

.juri__slide:focus-visible .juri__swiper-slide-content-wrapper::after {
  transform: scaleY(1);
}

.juri__slide:focus-visible .juri__swiper-slide-overlay {
  transform: scaleY(1);
}

.juri__slide:focus-visible .juri__swiper-slide-header {
  transform: translateY(0);
}

.juri__juri-wrapper {
  display: flex;
  flex-flow: wrap column;
  align-items: center;
  padding: 40px 0;
}

.juri__swiper {
  height: 300px;
  width: 260px;
}

.juri__swiper-button {
  top: 50%;
  display: none;
}

.juri__title {
  @include apply-styles($mobile-h3);

  font-family: "Alumni-Sans", "Arial", sans-serif;
  margin: 0 0 20px;
}

.juri__swiper-button--prev {
  left: -2px;

  &::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 32px;
    mask: url("/__spritemap#arrow-prev-view") center center no-repeat;
    mask-size: 16px 97px;
    background: $primary;
    left: 36px;
  }
}

.juri__swiper-button--next {
  right: 2px;

  &::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 32px;
    mask: url("/__spritemap#arrow-next-view") center center no-repeat;
    mask-size: 20px 32px;
    background: $primary;
    right: 36px;
  }
}

.juri__swiper-slide-content-wrapper {
  position: absolute;
  content: "";
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: nowrap column;
  justify-content: flex-end;
  align-items: center;

  &::after {
    position: absolute;
    content: "";
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(16, 38, 84, 0.89);
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 0.55s $smooth;
  }
}

.juri__swiper-slide-overlay::-webkit-scrollbar {
  width: 8px;
  max-height: 10px;
}

.juri__swiper-slide-overlay::-webkit-scrollbar-thumb {
  background-color: #888888;
  border-radius: 10px;
}

.juri__swiper-slide-overlay::-webkit-scrollbar-thumb:hover {
  background-color: #555555;
}


.juri__swiper-slide-image-wrapper {
  z-index: -1;
}

.juri__swiper-slide-overlay {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  transform: scaleY(0);
  width: 260px;
  height: calc(100% - 69px);
  z-index: 2;
  transform-origin: bottom;
  transition: transform 0.55s $smooth;
  overflow: auto;
  padding: 0 0 4px;
}

.juri__swiper-slide-header {
  @include apply-styles($desktop-h6);

  color: $white-primary;
  margin: 0;
  transform: translateY(209px);
  top: 46px;
  max-height: 150px;
  text-align: center;
  display: block;
  min-height: 24px;
  overflow-y: auto;
  z-index: 2;
  transform-origin: bottom;
  transition: transform 0.55s $smooth;
  width: 100%;
  outline: none;
}

.juri__swiper-slide-header::-webkit-scrollbar {
  width: 8px;
  max-height: 10px;
}

.juri__swiper-slide-header::-webkit-scrollbar-thumb {
  background-color: #888888;
  border-radius: 10px;
}

.juri__swiper-slide-header::-webkit-scrollbar-thumb:hover {
  background-color: #555555;
}

.juri__swiper-slide-genre {
  @include apply-styles($universal-medium-text);

  align-self: flex-start;
  width: 52px;
  color: #b6bdcc;
  margin: 8px 0 0;
  z-index: 2;
}

.juri__swiper-slide-description {
  @include apply-styles($universal-small-text);

  align-self: flex-start;
  color: $white-primary;
  display: flex;
  flex-flow: wrap column;
  list-style-type: none;
  gap: 12px;
  padding: 0 50px 0 66px;
  margin: 0;
  z-index: 2;
  position: relative;
  top: -6px;
}

.juri__swiper-slide-text {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    background-color: $white-primary;
    left: -16px;
    border-radius: 50%;
    top: 8px;
  }
}

@media #{$not-mobile} {
  .juri {
    min-height: 490px;
  }

  .juri__juri-wrapper {
    padding: 30px 0 60px;
  }

  .juri__title {
    @include apply-styles($desktop-h3);

    margin: 0 0 46px;
  }

  .juri__button-wrapper {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    transform: translateY(-50%);

    &--prev {
      left: 0;
    }

    &--next {
      right: 0;
    }
  }

  .juri__swiper-button {
    display: flex;
    position: relative;
    border: none;
    background-color: transparent;
    padding: 0;
  }

  .juri__swiper-container {
    position: relative;
    width: 678px;
  }

  .juri__swiper {
    width: 560px;
  }

  .juri__swiper-button--prev {
    &::after {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .juri__swiper-button--next {
    &::after {
      right: 50%;
      transform: translateX(50%);
    }
  }
}

@media #{$desktop-only} {
  .juri {
    min-height: 600px;
  }

  .juri__title {
    @include apply-styles($desktop-h3);
  }

  .juri__juri-wrapper {
    width: 1366px;
    padding: 100px 0;
    position: relative;
  }

  .juri__swiper-container {
    position: relative;
    width: 1336px;
  }

  .juri__swiper {
    width: 1160px;
  }
}
