.offers__wrapper {
  display: flex;
  flex-flow: wrap column;
  padding: 40px 0;
}

.offers__title {
  text-align: center;
  margin: 0 0 40px;
}

@media #{$not-mobile} {
  .offers__wrapper {
    padding: 60px 0;
  }

  .offers__title {
    margin: 0 0 35px;
  }
}

@media #{$desktop-only} {
  .offers__wrapper {
    padding: 100px 0;
  }

  .offers__title {
    margin: 0 0 70px;
  }
}
