.offers__wrapper {
  display: flex;
  flex-flow: wrap column;

  // gap: 40px;
  padding: 40px 0;
}

.offers__title {
  text-align: center;
  margin: 0 0 40px;
}

@media #{$not-mobile} {
  .offers__title {
    margin: 0 0 35px;
  }
}

@media #{$desktop-only} {
  .offers__title {
    margin: 0 0 70px;
  }
}
