.hero-header {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  min-height: 54px;
  justify-content: space-between;
  gap: 20px;
  padding: 10px 0;
}

.hero-header__phone {
  color: $white-primary;

  @include apply-styles($mobile-h4);

  top: -2px;
  transition:
    color $smooth 0.3s,
    text-decoration-thickness 0.3s,
    text-underline-offset 0.3s;
  text-decoration: none;
  position: relative;
  max-width: 150px;

  &::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: $primary;
    transition: width 0.3s ease-in-out;
  }

  &:hover {
    color: rgba(28, 51, 116, 0.5);
  }

  &:focus-visible {
    color: $secondary-button;
    outline: none;
  }

  &:active {
    color: $primary;
  }

  &:active::after {
    width: 100%;
  }

  &:disabled {
    color: $white-secondary;
    opacity: 0.5;
    pointer-events: none;
    cursor: auto;
  }

  &--disabled {
    color: $white-secondary;
    opacity: 0.5;
    pointer-events: none;
    cursor: auto;
  }
}

@media #{$not-mobile} {
  .hero-header__phone {
    @include apply-styles($tablet-h4);

    position: relative;
    top: 1px;
    max-width: 330px;
  }

  .hero-header {
    min-height: 84px;
  }
}

@media #{$desktop-only} {
  .hero-header__phone {
    @include apply-styles($desktop-h4);

    max-width: 360px;
  }

  .hero-header {
    min-height: 86px;
  }
}
