.price {
  background-color: $white-secondary;
}

.price__price-wrapper {
  padding: 40px 0 40px;
}

@media #{$not-mobile} {
  .price__price-wrapper {
    display: flex;
    flex-flow: wrap column;
    align-items: center;
  }
}
