.price-cards {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-flow: wrap column;
  gap: 34px;
}

@media #{$not-mobile} {
  .price-cards {
    gap: 40px;
  }
}

@media #{$desktop-only} {
  .price-cards {
    flex-flow: wrap row;
  }
}
