.socials {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-flow: wrap row;
  gap: 20px;
}

.socials__item {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  border-radius: 50%;
  background-color: $white-primary;
  width: 25px;
  height: 25px;
  transition: background 0.3s $smooth;
}

.socials__item:has(.socials__link:focus-visible) {
  background-color: #103aae;
}

.socials__item:has(.socials__link:hover) {
  background-color: #74819c;
}

.socials__item:has(.socials__link:active) {
  background-color: $primary;
}

.socials__item:has(.socials__link--disabled) {
  pointer-events: none;
  cursor: auto;
  background-color: $white-primary;
  opacity: 0.3;
}

.socials__item:has(.socials__link:disabled) {
  pointer-events: none;
  cursor: auto;
  background-color: $white-primary;
  opacity: 0.3;
}

.socials__link {
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #030a1a;
  position: relative;
  z-index: 2;
  transition: background 0.3s $smooth;

  &:focus-visible,
  &:hover,
  &:active {
    background-color: $white-primary;
  }

  &--disabled {
    background-color: #030a1a;
  }

  &:disabled {
    background-color: #030a1a;
  }

  &--vk {
    mask: url("/__spritemap#sprite-vk-view") center center no-repeat;
    mask-size: 14px 14px;
    mask-composite: exclude;
  }

  &--ok {
    mask: url("/__spritemap#sprite-ok-view") center center no-repeat;
    mask-size: 9px 15px;
  }

  &--reddit {
    mask: url("/__spritemap#sprite-reddit-view") center center no-repeat;
    mask-size: 14px 14px;
  }
}

@media #{$not-mobile} {
  .socials {
    gap: 15px;
  }
}

@media #{$desktop-only} {
  .socials {
    gap: 10px;
  }
}
